@import "include/reset";
@import "include/common";
@import "include/animation";
@import "include/nav";
@import "include/contact";
@import "include/footer";

.mv {
    @include mq(tb) {
        margin-top: 60px;
    }
    .news-header {
        height: 300px;
        padding: 120px 70px 0;
        @include mq(tb) {
            height: auto;
            padding: 10vw 8vw;
        }
        h1 {
            font-size: 44px;
            font-weight: 600;
            @include mq(tb) {
                font-size: 6.5vw;
            }
            span {
                display: block;
                font-size: 18px;
                margin-top: 2em;
                padding-left: 2.5em;
                position: relative;
                line-height: 1;
                @include mq(tb) {
                    font-size: 2.24vw;
                    margin-bottom: 3em;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 35px;
                    height: 2px;
                    background-color: #d34c31;
                    @include mq(sp) {
                        width: 27px;
                    }
                }
            }
        }
    }
    .breadcrumblist {
        @include mq(tb) {
            display: none;
        }
        ul {
            display: flex;
            padding: 20px 0 20px 70px;
            li {
                list-style-type: none;
                &:not(:last-child) {
                    margin-right: 3em;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 8px;
                        right: -1.5em;
                        width: 6px;
                        height: 9px;
                        mask-image: url('../images/icon_arrow2.svg');
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        mask-position: center;
                        background-color: #000;
                    }
                }
                a {
                    font-size: 12px;
                    line-height: 1;
                }
            }
        }
    }
}

// section news detail 
section.news-detail {
    .inner {
        width: 1100px;
        margin: 0 auto;
        padding: 120px 0 200px;
        @include mq(tb) {
            width: 100vw;
            padding: 8vw;
        }
        .category {
            display: flex;
            font-size: 17px;
            margin-bottom: 1.8em;
            @include mq(tb) {
                font-size: 2.5vw;
            }
            .date {
                margin-right: 2em;
            }
            .tag.daichi {
                color: $color_daichi;
            }
            .tag.group {
                color: #8f8f8f;
            }
            .tag.factory {
                color: $color_factory;
            }
            .tag.deli {
                color: $color_deli;
            }
            .tag.dining {
                color: $color_dining;
            }
            .tag.liquor {
                color: $color_liquor;
            }
        }
        h1 {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.5;
            @include mq(tb) {
                font-size: 3.84vw;
            }
        }
        .caption {
            width: 100%;
            margin: 60px 0;
            img {
                width: 100%;
            }
        }
        p {
            font-size: 17px;
            line-height: 1.8;
        }
        .nav-links {
            max-width: 280px;
            margin: 90px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .prev, .next {
                font-size: 14px;
                font-weight: 600;
                padding-top: 50px;
                position: relative;
                display: inline-block;
                text-align: center;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #dcdcdc;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    mask-image: url('../images/icon_arrow.svg');
                    mask-size: 12px;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-color: #fff;
                }
            }
            .prev {
                margin-right: 80px;
                @include mq(tb) {
                    margin-right: 0;
                }
                &::after {
                    transform: scale(-1, 1);
                    left: 5px;
                }
            }
            .next {
                margin-left: 80px;
                @include mq(tb) {
                    margin-left: 0;
                }
            }
        }
        .btn-area {
            width: 100%;
            text-align: center;
            a {
                font-size: 14px;
                color: #000;
                padding: 1em 5em 1em 2em;
                background-color: #fff;
                border: 1px solid #000;
                border-radius: 30px;
                position: relative;
                transition: 1s;
                &:hover {
                    background-color: #000;
                    color: #fff;
                    &::after {
                        background-color: #fff;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 17px;
                    height: 24px;
                    top: 1.2em;
                    right: 2em;
                    mask-image: url('../images/icon_arrow.svg');
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    background-color: #000;
                    transition: 1s;
                }
            }
        }
    }
}